name: actionlint and ghalint
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: '"ubuntu-latest"'
        description: |
          JSON string for runs-on.
          e.g.
          runs-on: '"macos-latest"'
          runs-on: '["foo"]'

jobs:
  actionlint_and_ghalint:
    timeout-minutes: 30
    runs-on: ${{fromJSON(inputs.runs-on)}}
    permissions: {}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: cachix/install-nix-action@ba0dd844c9180cbf77aa72a116d6fbc515d0e87b # v27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: check ghalint version
        run: |
          nix build .#ghalint
          ./result/bin/ghalint --version
      - name: run actionlint and ghalint
        run: |
          nix develop --command bash -c 'git ls-files -- ".github/workflows/*.yaml" | xargs pre-commit run --files'
